body{
    background-color: black;
    color: rgb(125, 5, 5);
    margin: 0px;
}

header{
    border-bottom: double 7px rgb(231, 236, 93);
    padding: 15px;
    font-size: 30px;
    color: rgb(240, 207, 16)
}

h1{
    border-bottom: groove 9px rgb(255, 146, 146);
    padding: 10px;
    font-size: 20px;
    color: rgb(255, 13, 0)
}

p{
    padding: 5px;
    font-size: 15px;
    color: rgb(154, 144, 144)
}